/**
 * ----------------------------------------------------------------------------------------
 * Site settings
 * ----------------------------------------------------------------------------------------
 */

/* Typography */
$font-size: 16px;
$base-font-size: 16px;
$font: 'Open Sans', Helvetica, Arial, sans-serif;
$baseline: $base-font-size * 1.5;

/* Color */
$navbg: #eee;
$articlebg: $navbg + 8;

$colHighlight3: #8bb3c1; // active page item bg, tag bg
$colHighlight2: #337ab7; // grid input text, page item border and box-shadow, link hover/visit text
$colHighlight1: #23527c; // grid focused link
$colPrimary: #1c3340; // header bg, h2 text, h2 border, various other text, background (including selected item bg), borders and box-shadows
$colDark: #121b20; // subnav item bg

/* Positioning */
$margin-multiplier: 2;

$general-margin: $margin-multiplier * $baseline;
